<form method="post" action="{% url 'sport:close-championship' %}" class="form">
    {% csrf_token %}
    <table class="table table">
        <tr>
            <td>Lugar propuesto</td>
            <td>Universidad</td>
            <td>Partidos ganados</td>
            <td>Puntaje total</td>
        </tr>
        {% for place, data in places.items %}
            <tr>
                {% for key, value in data.items %}
                    <td>
                        {% if key == "place" %}
                            <input type="number" value="{{ value }}" name="{{ key }}_{{ place }}" class="form-control" />
                        {% else %}
                            {% if key == "id" or key == "uni_id" %}
                                <input type="hidden" value="{{ value }}" name="{{ key }}_{{ place }}" />
                            {% else %}
                                <input type="hidden" value="{{ value }}" name="{{ key }}_{{ place }}" />
                                {{ value }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div class="col-12">
        <button class="btn btn-warning btn-block my-4"                  type="submit">
            <i class="fas fa-sm pr-2 fa-exclamation-triangle"></i> Cerrar campeonato
        </button>
    </div>
</form>