{% extends 'base.html' %}
{% load static %}
{% block title %}
JING - Noticias
{% endblock title %}

{% block activeNoticias %}active{% endblock activeNoticias %}

{% block styles %}
<style>
  .btn-circle { 
    width: 30px; 
    height: 30px; 
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.7;
    border-radius: 15px;
  }
</style>
{% endblock styles %}

{% block content %}
<section class="my-2">
  <div class="d-flex row w-100 justify-content-center">
    <h2 class="h1-responsive font-weight-bold text-center my-5">Ultimas Noticias</h2>
    {% if person.is_organizer or person.is_admin %}
      <a class="btn btn-danger btn-circle my-auto ml-5"
         data-toggle="modal"
         data-target=".new_news">
        <i class="fas fa-plus"></i>
      </a>
    {% endif %}
  </div>
  <div class="d-flex">
    <form class="w-100 d-flex" method="POST" id="category_filter">
      {% csrf_token %}
      <div class="row w-100 justify-content-end mb-sm-2">
        <div class="col-sm-6 col-md-3 my-auto">
          <select class="form-control" name="category">
            <option value="all"
                    selected>Todas las categorias</option>
            {% for category in categories %}
              <option value="{{ category.id }}" class="mb-2">
                {{ category.name }}
              </option>
            {% endfor %}
          </select>
        </div>
        <button class="btn btn-green ml-3 mr-4 my-auto"
                onclick="$('#category_filter').submit()">
          Filtrar noticias
        </button>
      </div>
    </form>
  </div>
  {% if news %}
  <div class="d-flex col-md-11 mx-auto">
    <table id="dt-select"
           class="table"
           cellspacing="0"
           width="100%">
        <thead style="display: none"><tr><th></th></tr></thead>
        <tbody>
          {% for new in news %}
            <tr>
              <td>
                <div class="row {% if forloop.counter|divisibleby:2 %}flex-row-reverse{% endif %}">
                  <div class="col-lg-5">
                    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                      <img class="img-fluid"
                          src="{{ new.picture.url }}"
                          alt="{{ new.title }}">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <a href="#!"
                      class="{{ new.category.color }}-text category">
                      <h6 class="font-weight-bold mb-3">{{ new.category.icon|safe }}{{ new.category.name }}</h6>
                    </a>
                    <h3 class="font-weight-bold mb-3"><strong>{{ new.title }}</strong></h3>
                    <p class="news_short">
                      {{ new.short_story|linebreaksbr }}
                    </p>
                    <p class="news_long d-none">
                      {{ new.body|linebreaksbr }}
                    </p>
                    <p class="news_data">by <a><strong>{{ new.publisher.name }}</strong></a>, {{ new.date|date:'Y/m/d H:i' }}</p>
                    <a class="btn {{ new.category.btn_class }} btn-md open-modal">Mas Información</a>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  {% else %}
    <h3 class="h3-responsive font-weight-bold text-center my-5">No hay publicaciones para los valores seleccionados</h3>
  {% endif %}
</section>

<div class="modal fade bd-example-modal-xl"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myExtraLargeModalLabel"
     aria-hidden="true"
     id="detailed_news">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row mt-4">
          <div class="col-lg-5">
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
              <img class="img-fluid"
                   src=""
                   alt="Sample image">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

          </div>
          <div class="col-lg-7">
            <a href="#!"
               class="green-text detailed_news_text">
              <h6 class="font-weight-bold mb-3"><i class="fas fa-utensils pr-2"></i>Comida</h6>
            </a>
            <h3 class="font-weight-bold mb-3"><strong></strong></h3>
            <p class="modal_short_news"></p>
            <p class="modal_news_meta"></p>
          </div>
        </div>
        <hr class="my-5">
        <div>
          <p class="modal_long_news"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade new_news"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myExtraLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form method="POST" action="{% url 'news:create' %}" enctype="multipart/form-data" id="news_form">
          {% csrf_token %}
          <div class="row mt-4">
            <div class="col-lg-5">
              <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4"
                   style="min-height: 300px"
                   id="news_img">
                <input type="file"
                       class="form-control"
                       style="margin-top: 120px; padding-bottom: 37px"
                       id="news_img_input"
                       name="image">
              </div>
            </div>
            <div class="col-lg-7">
              <select class="form-control mb-3" name="category">
                <option value=""
                        disabled
                        selected>Elijá categoría</option>
                {% for category in categories %}
                <option value="{{ category.id }}"
                        class="mb-2">
                  {{ category.name }}
                </option>
                {% endfor %}
              </select>
              <div class="md-form mb-4">
                <input type="text"
                       id="news_title"
                       name="title"
                       class="form-control validate">
                <label data-error="wrong"
                       data-success="right"
                       for="news_title">Titulo de la noticia</label>
              </div>
              <div class="md-form mb-4">
                <textarea id="news_resume"
                          name="resume"
                          class="md-textarea form-control"
                          rows="3"></textarea>
                <label data-error="wrong"
                       data-success="right"
                       for="news_resume">Bajada de la noticia (Texto corto)</label>
              </div>
            </div>
          </div>
          <hr class="my-5">
          <div class="md-form mb-4">
            <textarea id="news_body"
                      name="body"
                      class="md-textarea form-control"
                      rows="5"></textarea>
            <label data-error="wrong"
                   data-success="right"
                   for="news_resume">Cuerpo de la noticia (Texto largo)</label>
          </div>
          <div class="row justify-content-end">
            <button class="btn btn-success btn-md mr-3"
                    onclick="$('#news_form').submit();">Agregar Noticia</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#dt-select').DataTable({
        "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        },
        "bInfo": false,
        "searching": false,
    });
  })

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      
      reader.onload = function(e) {
        console.log(e)
        $('#news_img').css("background-image", `url(${e.target.result})`);
        $('#news_img').css("background-size", "444px 300px");
        $('#news_img_input').css("opacity", 0.8)
      }
      
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#news_img_input").change(function() {
    readURL(this);
  });

  $('.open-modal').on('click', function() {
    modal = $('#detailed_news')

    image = $(this).closest('div').siblings('.col-lg-5').find('.img-fluid').attr('src')
    title = $(this).siblings('h3').text()
    short_story = $(this).siblings('.news_short').text()
    meta = $(this).siblings('.news_data').html()
    category = $(this).siblings('.category')[0].outerHTML
    body = $(this).siblings('.news_long').text()

    modal.find('.img-fluid').attr('src', image)
    modal.find('.detailed_news_text').html(category)
    modal.find('h3').find('strong').text(title)
    modal.find('.modal_short_news').text(short_story)
    modal.find('.modal_news_meta').html(meta)
    modal.find('.modal_long_news').text(body)

    modal.modal()
  })
</script>
{% endblock content %}