.section {
    flex-direction: row;
}

.left {
    justify-content: flex-start;
}

.mid {
    justify-content: center;
}

.mid :global(.nav-link) {
    background-color: rgba(0,0,0,0.05);
    width: 12em;
    text-align: center;
    margin: 0 4px;
    font-size: 1.125rem;
}

.mid :global(.nav-link.active), .mid :global(.nav-link):hover {
    background-color: rgba(0,0,0,0.1);
}

.right {
    justify-content: flex-end;
}

.eventSelector {
    --event-selector-border: 1px solid #ccc;
    background-color: #eee;
    display: flex;
    align-items: center;
    margin: -8px 24px;
    padding: 0 8px;
    border-left: var(--event-selector-border);
    border-right: var(--event-selector-border);
    font-weight: bold;
}

.eventSelector:hover {
    background-color: #ddd;
}