{% extends 'base.html' %}
{% load static %}

{% block title %}
  JING - Mensajes
{% endblock title %}

{% block activeMensaje %}active{% endblock activeMensaje %}

{% block styles %}
<style>
  .btn-circle {
    width: 34px;
    height: 34px;
    text-align: center;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.7;
    border-radius: 17px;
  }
</style>
{% endblock styles %}

{% block content %}
  <div class="alert alert-success alert-dismissible fade show m-4 d-none"
       role="alert"
       id="send_alert">
    <strong id="strong_alert"></strong>
    <button type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <section class="my-2 row">
    <div class="d-flex row w-100 justify-content-center">
      <h2 class="h1-responsive font-weight-bold text-center my-5">Mensajes</h2>
      <a class="btn btn-danger btn-circle my-auto ml-5"
         data-toggle="modal"
         data-target=".new_message">
        <i class="fas fa-paper-plane"></i>
      </a>
    </div>
    <div class="w-100 mx-md-5 mx-4">
      {% if messages %}
        <table class="table table-bordered table-hover"
              cellspacing="0"
              width="100%">
          <thead>
            <tr>
              <th class="th-sm">
                Fecha
              </th>
              <th class="th-sm">
                Remitente
              </th>
              <th class="th-sm">
                Contenido
              </th>
            </tr>
          </thead>
          <tbody>
            {% for message in messages %}
              <tr {% if message.is_read %}class="read-message"{% endif %}>
                <td>{{ message.date|date:'Y/m/d H:i' }}</td>
                <td>{{ message.sender }}</td>
                <td>
                  <p class="font-weight-bold mb-0">
                    {{ message.subject }}
                  </p>
                  <hr class="mt-0 mb-2" />
                  <p class="ml-3 mb-1">
                    {{ message.body }}
                  </p>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h3 class="h3-responsive font-weight-bold text-center my-5">
          Aún no has recibido mensajes en la aplicación.
        </h3>
      {% endif %}
    </div>
  </section>

  <div class="modal fade new_message"
       tabindex="-1"
       role="dialog"
       aria-labelledby="myExtraLargeModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <form method="POST"
                id="messages_form">
            {% csrf_token %}
            <div class="row mt-4">
              <div class="col-lg-5">
                <select id="to-selector" class="form-control mb-3">
                  <option value="" selected disabled>Elija un grupo de destinatarios</option>
                  <option value="uni">Universidad</option>
                  <option value="sport">Deporte</option>
                  <option value="team">Equipo</option>
                  <option value="person">Persona</option>
                </select>
                <select class="selectpicker form-control d-none mb-4"
                        multiple
                        id="university-picker"
                        name="university">
                  {% for university in universities %}
                    <option value="{{ university.id }}">{{ university }}</option>
                  {% endfor %}
                </select>
                <select class="selectpicker form-control d-none mb-4"
                        multiple
                        id="team-picker"
                        name="team">
                  {% for team in teams %}
                  <option value="{{ team.id }}">{{ team }}</option>
                  {% endfor %}
                </select>
                <select class="selectpicker form-control d-none mb-4"
                        multiple
                        id="sport-picker"
                        name="sport">
                  {% for sport in sports %}
                  <option value="{{ sport.id }}">{{ sport }}</option>
                  {% endfor %}
                </select>
                <input class="typeahead form-control d-none mb-4 mt-2"
                       id="message-name"
                       type="text"
                       autocomplete="off" />
                <div class="card mb-4 p-2 d-none"
                     id="box_name">
                     <ul id="list_name" class="mb-0">

                     </ul>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="md-form mb-4">
                  <input type="text"
                         id="message_subject"
                         name="subject"
                         class="form-control validate">
                  <label data-error="wrong"
                         data-success="right"
                         for="message_subject">Asunto del mensaje</label>
                </div>
                <div class="md-form mb-4">
                  <textarea id="message_body"
                            name="message"
                            class="md-textarea form-control"
                            rows="4"></textarea>
                  <label data-error="wrong"
                         data-success="right"
                         for="message_body">Mensaje</label>
                </div>
              </div>
            </div>
            <div class="row justify-content-end">
              <button class="btn btn-success btn-md mr-3"
                      type="button"
                      onclick="checkAndPack()">Enviar mensaje</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('.table').DataTable({
        "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        },
        "searching": false,
        "bInfo": false,
        "columnDefs": [
          { orderable: false, targets: 2 }
        ],
        "order": [[ 0, 'desc' ]]
      });

      $('.read-message').css("background-color", "rgba(0,0,0,.05)")

      $.ajax({
        method: "post",
        url: "{% url 'messages:read' %}",
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          unread_messages: '{{ unread_messages }}'
        }
      })

      $('#message-name').typeahead({
        minLength: 3,
        source:  function (query, process) {
          return $.get("{% url 'person:all' %}", { query: query }, function (data) {
              return process(data);
          });
        },
        afterSelect: function (item) {
          $('#box_name').removeClass('d-none')
          $('#list_name').append($('<li>').append(item))
        }
      })

      $('#university-picker').selectpicker({
        style: 'ml-0',
        selectedTextFormat: 'count > 2',
        countSelectedText: function (count, total) {
          return `Se han seleccionado ${count} universidades`
        },
        noneSelectedText: "No se han seleccionado universidades"
      });

      $('#team-picker').selectpicker({
        style: 'ml-0',
        selectedTextFormat: 'count > 2',
        countSelectedText: function (count, total) {
          return `Se han seleccionado ${count} equipos`
        },
        noneSelectedText: "No se han seleccionado equipos"
      });

      $('#sport-picker').selectpicker({
        style: 'ml-0',
        selectedTextFormat: 'count > 2',
        countSelectedText: function (count, total) {
          return `Se han seleccionado ${count} deportes`
        },
        noneSelectedText: "No se han seleccionado deportes"
      });

      $('#to-selector').on('change', function () {
        switch($(this).val()) {
          case "uni":
            $('#university-picker').parent().removeClass('d-none')
            $('#university-picker').removeClass('d-none')
            break
          
          case "sport":
            $('#sport-picker').parent().removeClass('d-none')
            $('#sport-picker').removeClass('d-none')
            break
          
          case "team":
            $('#team-picker').parent().removeClass('d-none')
            $('#team-picker').removeClass('d-none')
            break
          
          case "person":
            $('#message-name').removeClass('d-none')
            break

          default:
            break
        }
      })
    })

    function checkAndPack() {
      let universities = $('#university-picker').val()
      let teams = $('#team-picker').val()
      let sports = $('#sport-picker').val()
      let people = []
      let subject = $('#message_subject').val()
      let message = $('#message_body').val()
      
      $('#list_name li').each(function() {
        people.push($(this).text())
      })

      $.ajax({
        url: "{% url 'messages:home' %}",
        type: "POST",
        data: {
          "csrfmiddlewaretoken": '{{ csrf_token }}',
          "universities": universities,
          "teams": teams,
          "sports": sports,
          "people": people,
          "subject": subject,
          "message": message,
        },
        success: function (data) {
          data = JSON.parse(data)
          $('.new_message').modal('hide')
          $('#strong_alert').text(data.message)
          $('#send_alert').removeClass('d-none')
          if (data.reload) {
            setTimeout(function() {
              window.location.reload()
            }, 5000)
          }
        },
        error: function(xhr, error_message, error) {
          console.log(xhr.status + ": " + xhr.responseText)
          console.log(error_message)
        }
      })
    }
  </script>
{% endblock content %}