.root {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fffa;
    z-index: 1000;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #fffa;
}